<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href = "styles.css">
    <title>Sheet Music Software</title>
</head>
<body>
    <img id="treble"; src="../images/treble.png"; alt="treble"; style="display: none;">
    <img id="bass"; src="../images/bass.png"; alt="bass"; style="display: none;">
    <img id="quarterNote"; src="../images/QuarterNote.png"; alt="quarterNote"; style="display: none;">
    <img id="redQuarterNote"; src="../images/RedQuarterNote.png"; alt="quarterNote"; style="display: none;">
    <img id="upsideDownQuarterNote"; src="../images/UpsideDownHalfNote.png"; alt="quarterNote"; style="display: none;">
    <img id="redUpsideDownQuarterNote"; src="../images/RedUpsideDownQuarterNote.png"; alt="quarterNote"; style="display: none;">
    <img id="halfNote"; src="../images/HalfNote.png"; alt="halfNote"; style="display: none;">
    <img id ="redHalfNote"; src="../images/RedHalfNote.png"; alt="HalfNote"; style="display: none;">
    <img id ="upsideDownHalfNote"; src="../images/UpsideDownHalfNote.png"; alt="redHalfNote"; style="display: none;">
    <img id ="redUpsideDownHalfNote"; src="../images/redUpsideDownHalfNote.png"; alt="redHalfNote"; style="display: none;">
    <img id ="wholeNote"; src="../images/WholeNote.png"; alt="wholeNote"; style="display: none;">
    <img id ="redWholeNote"; src="../images/RedWholeNote.png"; alt="wholeNote"; style="display: none;">
    <canvas id="theCanvas"; style = "border: 1px solid#000000; margin-top: 50px;"; width = "1420"; height = "450";>
    </canvas>
    <button onclick="convertToHalfNote()">half note</button>
    <p id="x">Current note:</p>
    <script src="index.js"></script>
</body>
</html>